h2 {
    margin: 20px;
}

h2.category-name {
    color: rgb(20, 20, 219);
}

nav.recipes {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 20%;
}

li {
    list-style-position: inside;
    list-style-type: square;
}