div.title {
    font-size: 23px;
    font-weight: bold;
}

div.recipe-container {
    padding-top: 50px;
    min-height: 80vh;
    min-width: 95vw;
}

div.recipe-title {
    margin: 10px;
    background-color: aqua;
    color: black;
    border: 1px dotted crimson;
    padding: 10px;
}

div.recipe-description {
    margin: 10px;
    background-color: gold;
    color: slateblue;
    border: 1px dotted rgb(65, 8, 199);
    padding: 10px;
}

img {
    width: 80vw;
}